[Unit]
Description=OAI Core network
After=docker.service

[Service]
ExecStart=/bin/bash -c "/root/OAI-Colosseum/utils/restart_core.sh"
ExecStartPost=/bin/sleep 30
TimeoutStopSec=infinity
Type=oneshot

[Install]
WantedBy=graphical.target
