[Unit]
Description=OAI gNB
StartLimitIntervalSec=0
StartLimitBurst=100
After=core_network.service

[Service]
Environment="HOME=/root/"
ExecStart=/bin/bash -c "cd /root/OAI-Colosseum && source .env && python3 ran.py -t donor"
Restart=always
RestartSec=5s

[Install]
WantedBy=graphical.target
