[Unit]
Description=Iperf3 Server in the gNB for UE %i
StartLimitIntervalSec=infinity
StartLimitBurst=infinity
Requires=gnb.service

[Service]
ExecStart=/bin/bash -c "iperf3 -s --snd-timeout 100 --idle-timeout 5 -p 520%i --json --logfile /logs/iperf_server%i.json"
Restart=always
RestartSec=100ms

[Install]
WantedBy=graphical.target
