[Unit]
Description=OAI UE
StartLimitIntervalSec=300
StartLimitBurst=5

[Service]
EnvironmentFile=/root/OAI-Colosseum/services/gnb.conf
ExecStart=/bin/bash -c "cd /root/OAI-Colosseum && source .env && python3 ran.py -t ue --rfsim --rfsimip $GNB_IP"
Restart=on-failure
RestartSec=100ms

[Install]
WantedBy=multi-user.target
