[Unit]
Description= xApp using Ray client agent
StartLimitIntervalSec=infinity
StartLimitBurst=infinity
Requires=xapp_server.service

[Service]
ExecStart=/bin/bash -c "cd /root/xapp_sched_rlagent && pipenv run python oai_client.py"
Restart=always
RestartSec=100ms

[Install]
WantedBy=graphical.target
